body {
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}

#story {
    overflow-y: auto;
}

.stats_container {
    overflow: hidden;
    min-width: 150px;
}

.stats {
    float: top;
    margin: 5px;
}

.root {
    overflow: hidden;
    display: flex;
    height: 100vh;
}

.paragraph-group {
    font-weight: 400;
}

.paragraph-group:last-of-type p {
    color: #222222;
}
